@import '~antd/dist/antd.less';

@primary-color: #FFF; // primary color for all components

html, body, #root {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
